.food_url {
  width: 200px;
  height: 200px
}

body {
  background-color: lightblue;
  text-align: center;
}

.links {
  margin: 20px;
}

.navlink {
  margin: 10px;
}

.catButton {
    color: black; 
    font-size: 15px; 
    line-height: 19px; 
    padding: 10px; 
    border-radius: 50px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background: #F19CBB;
    margin: 10px;
  
  }
